<section>
  <div class="container my-3 mb-5">
      <div class="row bottom-cta rounded-4 p-3 gx-sm-5 mx-auto align-items-center">
          <div class="col-12 col-sm-3 text-center">
              <img src="/images/osacon2026-cubes.png" alt="OSA CON logo" class="img-fluid">
          </div>
          <div class="col-12 col-sm-5 text-center text-sm-start">
            <h2 class="text-white">Join OSA Con 2026</h2>
<p>The anti-hype conference for open-source analytics and AI. 
Connect with engineers, maintainers, and technology leaders building the future of data.</p>
          </div>
          <div class="col-12 col-sm-4 text-center text-sm-start pb-3 pb-sm-0">
            <p class="fs-3 text-white"><i class="far fa-calendar"></i> November 2, 2026</p>
            <p class="fs-3 text-white"><i class="fas fa-map-marker-alt"></i> San Francisco + Online</p>
            <button id="button-hero1" type="button" class="btn btn-outline-primary bg-white rounded my-2"><a target="_blank" href="{{ .Site.Params.registerURL }}">Pre-register for free</a></button></div>
      </div>
  </div>
</section>    

