{{ $data := index .Site.Data }}
{{ with $data.homepage.event_info }}
<section class="section event-info mt-4">
  <a id="event-info"></a>
  <div class="container">
    <div class="row">
        <div class="text-center col-12"><h2>Why attend OSA CON?</h2></div>
    </div>
    <div class="row">
      {{ range .why_cards }}
      <div class="col-12 col-md-4">
        <div class="card mb-3 h-100">
          <div class="row g-0">
            <div class="col-md-3 p-3 pe-0 text-center">
              <img src="/images/icon-users-blue-circle.svg" class="card-icon" alt="...">
            </div>
            <div class="col-md-9">
              <div class="card-body text-center text-md-start">
                <h4 class="card-title h4">{{ .title }}</h4>
                <p class="card-text">{{ .text }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    {{ end }}
    <hr class="section-divider">
  </div>
</section>
{{ end }}