{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}
<section class="section event-info mt-4">
  <a id="event-info"></a>
  <div class="container">
    <div class="content text-center text-sm-start">
      <div>
        <h2>{{ .title }}</h2>
        <p style="line-height:150%">OSA Con is a community-driven conference for engineers and architects building modern analytics and AI systems. Organized by the Open Source Analytics (OSA) community, the conference brings together practitioners, project maintainers, and data leaders to share real-world architectures, lessons from production systems, and updates from the open-source tools powering today’s analytics and AI platforms.</p>

        <button id="button-what-is1" type="button" class="btn btn-light btn-rounded btn-outline-primary my-2"><a target="_blank" href="https://luma.com/eis7567t">Pre-register</a></button>
        <button id="button-what-is2" type="button" class="btn btn-light btn-rounded btn-outline-primary my-2"><a target="_blank" href="http://subscribepage.io/7rOdqZ">Sign up for updates</a></button>


      </div>

      <!--<div class="statistics-block">
        {{ range .features }}
          <div class="item">
            <div class="numbers">{{ .number }}</div>
            <div class="label">{{ .label }}</div>
          </div>
        {{ end }}
      </div>-->
    </div>    
    <hr class="section-divider">
  </div>
</section>
{{ end }}