<section class="hero-alt">
  <div class="bg-video-container">
    <video class="bg-video" playsinline="" muted="" loop="" src="/images/homepage_bg_02.mp4" poster="/images/homepage_bg_02.mp4" autoplay=""></video>
    <div class="hero-content">
      <div class="event-logo mb-4 mb-sm-1">
        <img src="/images/osacon2026-cubes.png" alt="OSA CON logo" class="img-fluid">      
      </div>
      <div class="event-meta mx-2 mx-md-0"  style="max-width:800px;">
        <h1 style="text-wrap: balance;">The Anti-Hype Conference for Open Source Analytics and AI</h1>
        <h3 class="mx-3 mx-sm-1">{{ .Site.Params.hero.text }}</h3>
        <button id="button-hero1" type="button" class="btn btn-rounded btn-primary my-2"><a target="_blank" href="https://luma.com/eis7567t">Pre-register</a></button>
        <button id="button-hero2" type="button" class="btn btn-rounded btn-outline-primary my-2"><a target="_blank" href="http://subscribepage.io/7rOdqZ">Sign up for updates</a></button>

      </div>  
    </div>
  </div>
</section>    

<p class="text-center mt-3"><strong>Join colleagues from all over the world to learn about the latest trends in open source analytics</strong></p>

